*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: azure;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
overflow: hidden;
text-shadow: 0px 0px 6px black;

}
body{
 background-image: url("pexels-jibarofoto-2014775.jpg");
  background-position: center;
  background-size: cover;
}


header{
  display: flex;
  justify-content: space-between; /* توزيع العناصر يمين ويسار */
  align-items: center;
  padding: 20px 50px; /* مسافة داخلية */
  width: 100%; /* يأخذ كامل العرض */

}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
  text-rendering: geometricPrecision;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: azure;
  font-size: 1.2rem;
  transition: color 0.3s;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: azure;
  font-weight: 500;
}
button {
  margin-left: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.2);
  color: azure;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: rgba(255,255,255,0.4);
}
nav ul li a:hover {
  text-decoration: underline;
  
}
.content{
align-items: center;
display: flex;
flex-direction: column;
margin-top: 200px;
padding: 2rem;
gap: 6px;

}
.content input{
width: 30%;
height: auto;
opacity: 50%;
text-decoration: dashed;
padding: 1rem;
border-radius: 15px;
justify-content: space-between;
gap: 30px;
color: azure;
text-shadow: 0px 0px 6px black;



}